
  .log_in {
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 22px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .sign_up {
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 22px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  center{
    padding-top: 60px;
  }
